{
    "extends": "airbnb",
    "plugins": [
        "cypress"
    ],
    "env": {
        "jest": true,
        "browser": true,
        "es6": true,
        "cypress/globals": true
    },
    "rules" : {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "indent": ["error", 4],
        "react/jsx-indent": [2, 4],
        "react/prop-types": 0,
        "arrow-body-style": ["error", "always"]
    },
    "parser": "babel-eslint"
}