
li {
    list-style: none;
}

.item {
    display: flex;
}

button {
    height: 25px;
    border: none;
    margin: 5px;
}


.delete-button {
    background-color: #991f00;
}

.complete-button {
    background-color: #264d00;
}