
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.main-content {
  margin-top: 50px;
}

.list-content {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.input-error-message {
  text-align: center;
  color: red;
}

